<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title> Restaurant Review Categories</title>
<link rel= "stylesheet" type= "text/css" href = "./style.css" th:href= "@{style.css}">
</head>

<body>
	<header>
	<h1 id="categoriesTitle">Restaurant and Bar Review Categories:</h1>
	</header>
	
	<div th:id= "categories" th:each ="category: ${categories}">
		<h2>
		<a th:href="@{/category(id=${category.id})}" th:text="${category.name}"></a>
		</h2>
	</div>

	<form>
	
	<form method="POST">
	<div>
	<label>Enter Review Name</label>
	<input type="text" name="reviewName"/>
	</div>
	
	<div>
	<label>Enter Review Description</label>
	<input type="text" name="reviewDescription"/>
	</div>
	
	<div>
	<label>Enter Category</label>
	<input type="text" name="categoryName"/>
	</div>
	
	
	<div>
	<button th:formaction="@{add-review}"> Add Review </button>
	</div>
	
	</form>

	<footer><a href ="http://localhost:8080/show-reviews">Back to Reviews Home</a> </footer>

</html>