<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Reviews</title>
	<link rel= "stylesheet" type= "text/css" href = "./style.css" th:href= "@{style.css}">
</head>
<body>
	<header>
		<h1 id"home">Reviews of 5 Cleveland Restaurants and Bars</h1>
	</header>
	
	<div th:each= "review: ${reviews}">		
		<p><a th:href="@{/review(id=${review.id})}" th:text="${review.name}"></a></p>
	</div>

	<footer>
		<a href ="http://localhost:8080/show-categories">Back to Categories</a>
		
		</footer>


	</div>

</body>
</html>